{% extends 'base.html.twig' %}

{% block title %}OffreEmploi index{% endblock %}

{% block body %}
    <h1 align="center">Offre Emploi </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_emploi in offre_emplois %}
            <tr>
                <td>{{ offre_emploi.id }}</td>
                <td>{{ offre_emploi.libelle }}</td>
                <td>{{ offre_emploi.categorie }}</td>
                <td>{{ offre_emploi.description }}</td>
                <td>
                    <a href="{{ path('offre_emploi_show', {'id': offre_emploi.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('offre_emploi_edit', {'id': offre_emploi.id}) }}" class="btn btn-secondary" >edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offre_emploi_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
